# Master API key for authenticating requests to the AI server
# openssl rand -hex 32
MASTER_APIKEY=

# Serper configuration
SERPER_APIKEY=
SERPER_BASE_URL=

# OpenRouter API key
OPEN_ROUTER_APIKEY=

# ChromaDB configuration
CHROMADB_PORT=
CHROMADB_HOST=
# CHROMADB_PERSISTENCE_DIR=

# Apify API key
APIFY_APIKEY=
APIFY_USER_ID=