
# Server configuration
PORT=8000
NODE_ENV=Development
LOG_LEVEL=info

# Database configuration
DATABASE_URL_CLOUD=
DATABASE_URL_LOCAL=

# Arcjet configuration
ARCJET_KEY=

# JWT configuration
JWT_SECRET=
JWT_EXPIRES_IN=5min

REFRESH_JWT_SECRET=
REFRESH_JWT_EXPIRES_IN=7d


# Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL="http://localhost:8000/api/auth/google/callback"


# Nodemailer configuration
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

# Cookie configuration
COOKIE_SAME_SITE=

# Redis configuration
REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Frontend URL for CORS
FRONTEND_URL=