
# Server configuration
PORT=
NODE_ENV=
LOG_LEVEL=

# Database configuration
DATABASE_URL_CLOUD=
DATABASE_URL_LOCAL=

# Arcjet configuration
ARCJET_KEY=

# JWT configuration
JWT_SECRET=
JWT_EXPIRES_IN=

REFRESH_JWT_SECRET=
REFRESH_JWT_EXPIRES_IN=


# Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=


# Nodemailer configuration
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

# Cookie configuration
COOKIE_SAME_SITE=

# Redis configuration
REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=